@tailwind base;
@tailwind utilities;
@tailwind components;

@layer utilities {
    .cliwindow-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .cliwindow-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}